<div id="bluepad" class="row bluepad pt-1 p-sm-2 pb-md-5" style="">
  <div class="col-12">
    <div id="fnav" class="row ftopbar">
      <div class="col-6 col-sm-9 col-lg-5 pl-lg-2 pl-xl-5 d-flex flex-row align-items-center">
        <a href="tel:07132342366" class="btn btn-light mr-1 d-none d-sm-flex align-items-center ml-lg-2 ml-xl-5"
           style="font-family: 'IRANSans(FaNum) Medium',sans-serif;font-style: normal;font-size: 0.8em;font-weight: 500;">
          <label class="m-0" style="position: relative;top: 2px;cursor: pointer">0713-234-2367</label>
          <i class="fa fa-phone-square ml-2" style="font-size: 1.3em;position: relative;top: 1px;color: #f26c6a;"></i>
        </a>
        <a href="javascript:void(0)" class="btn btn-light mr-1"
           style="font-family: IRANSans,sans-serif;font-style: normal;font-size: 0.8em;font-weight: 500;outline: none !important;">
          <label class="d-none d-sm-inline-flex m-0" style="cursor:pointer;">ورود - ثبت نام</label>
          <i class="fa fa-user-circle m-0 ml-sm-2" style="font-size: 1.3em;position: relative;top: 2px;color: #f26c6a;"></i>
        </a>
        <a routerLink="profile/orders" class="btn btn-light mr-1"
           style="font-family: IRANSans,sans-serif;font-style: normal;font-size: 0.8em;font-weight: 500;">
          <label class="d-none d-sm-inline-flex m-0" style="cursor:pointer;">پیگیری خرید</label>
          <i class="fa fa-ticket-alt m-0 ml-sm-2" style="font-size: 1.3em;position: relative;top: 2px;color: #f26c6a;"></i>
        </a>
        <a routerLink="profile/orders" class="btn btn-light d-lg-none"
           style="font-family: IRANSans,sans-serif;font-style: normal;font-size: 0.8em;font-weight: 500;">
          <label class="d-none" style="cursor:pointer;">پیگیری خرید</label>
          <i class="fa fa-bars m-0" style="font-size: 1.3em;position: relative;top: 2px;color: #f26c6a;"></i>
        </a>
      </div>
      <div class="col-6 col-sm-3 col-lg-7 d-flex flex-row-reverse align-items-center">
        <img src="assets/img/FaraparLogo-v3.png" alt="لوگو فراپر" style="height: 50px;"
             class="ml-2 mr-0 mr-sm-2" />
        <div class="p-0 m-0 d-flex flex-column" style="display: none  !important;">
          <label style="font-family: GoogFont;font-weight: bold;font-size: 20px;" class=" p-0 m-0 text-right">Farapar.ir</label>
          <label class="p-0 m-0 iransan_medium text-right " style="font-size: 0.7rem;">خرید بلیط هواپیما</label>
        </div>
        <ul class="farapar_menu d-none d-lg-flex">
          <!--d-lg-flex-->
          <li><a routerLink="/inflights" class="d-flex flex-lg-column  flex-xl-row-reverse align-items-center"><i
            class="fa fa-paper-plane ml-2"></i>پرواز داخلی</a></li>
          <li><a routerLink="/outflights" class="d-flex flex-lg-column  flex-xl-row-reverse align-items-center"><i
            class="fa fa-globe-americas ml-2"></i>پرواز خارجی</a></li>
          <li><a routerLink="/hotels" class="d-flex flex-lg-column  flex-xl-row-reverse align-items-center"><i
            class="fa fa-hotel ml-2"></i>رزرو هتل</a></li>
          <li><a routerLink="/trains" class="d-flex flex-lg-column  flex-xl-row-reverse align-items-center border-0"><i
            class="fa fa-train ml-2"></i>بلیط قطار</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-10 offset-md-1 shadow_white_panel mt-md-5 p-1 p-md-2 rounded">
    <div class="row" style="margin: auto">
      <div class="col-12 tabs_panel d-flex flex-row-reverse p-0">
        <div class="col-3 col-sm-3 col-md-auto p-0">
          <a routerLink="/inflights" style="text-decoration: none"
             [class.factive]="ticketingService.selectedTicketingMenuName === 'inflights'"
             class="ftabs d-flex flex-column justify-content-center flex-sm-row-reverse align-items-center  pl-md-3 pr-md-3 pl-lg-4 pr-lg-4">
            <i class="fa fa-paper-plane ml-2"></i>
            <label class="ml-1 mb-0">پرواز</label>
            <label class="mb-0">داخلی</label>
          </a>
        </div>
        <div class="col-3 col-sm-3 col-md-auto p-0">
          <a routerLink="/outflights" style="text-decoration: none"
             [class.factive]="ticketingService.selectedTicketingMenuName === 'outflights'"
             class="ftabs d-flex flex-column justify-content-center flex-sm-row-reverse align-items-center pl-md-3 pr-md-3 pl-lg-4 pr-lg-4">
            <i class="fa fa-globe-americas ml-2"></i>
            <label class="ml-1 mb-0">پرواز</label>
            <label class="mb-0">خارجی</label>
          </a>
        </div>
        <div class="col-3 col-sm-3 col-md-auto p-0">
          <a routerLink="/hotels" style="text-decoration: none"
             [class.factive]="ticketingService.selectedTicketingMenuName === 'hotels'"
             class="ftabs d-flex flex-column justify-content-center flex-sm-row-reverse align-items-center pl-md-3 pr-md-3 pl-lg-4 pr-lg-4">
            <i class="fa fa-hotel mb-1 ml-2"></i>
            <label class="ml-1 mb-0">رزرو</label>
            <label class="mb-0">هتل</label>
          </a>
        </div>
        <div class="col-3 col-sm-3 col-md-auto p-0">
          <a routerLink="/trains" style="text-decoration: none"
             [class.factive]="ticketingService.selectedTicketingMenuName === 'trains'"
             class="ftabs d-flex flex-column justify-content-center flex-sm-row-reverse align-items-center pl-md-3 pr-md-3 pl-lg-4 pr-lg-4">
            <i class="fa fa-train mb-1 ml-2"></i>
            <label class="ml-1 mb-0">بلیط</label>
            <label class="mb-0">قطار</label>
          </a>
        </div>
      </div>
      <div class="col-12 white_panel pt-3 pt-lg-5 pb-3 pb-lg-5" style="">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
