<div id="bluepad" class="row bluepad pt-1 p-sm-2 pb-md-5 justify-content-center" style="margin-top:65px;">
  <div class="col-12 col-sm-12 col-md-10 shadow_white_panel mt-md-5 p-1 p-md-2 rounded">
    <div class="row" style="margin: auto">
      <div class="col-12 tabs_panel d-flex flex-row-reverse p-0">
        <div class="col-3 col-sm-3 col-md-auto p-0">
          <a routerLink="/inflights" style="text-decoration: none"
             [class.factive]="ticketingService.selectedTicketingMenuName === 'inflights'"
             class="ftabs d-flex flex-column justify-content-center flex-sm-row-reverse align-items-center  pl-md-3 pr-md-3 pl-lg-4 pr-lg-4">
            <i class="fa fa-paper-plane ml-2"></i>
            <label class="ml-1 mb-0">پرواز</label>
            <label class="mb-0">داخلی</label>
          </a>
        </div>
        <div class="col-3 col-sm-3 col-md-auto p-0">
          <a routerLink="/outflights" style="text-decoration: none"
             [class.factive]="ticketingService.selectedTicketingMenuName === 'outflights'"
             class="ftabs d-flex flex-column justify-content-center flex-sm-row-reverse align-items-center pl-md-3 pr-md-3 pl-lg-4 pr-lg-4">
            <i class="fa fa-globe-americas ml-2"></i>
            <label class="ml-1 mb-0">پرواز</label>
            <label class="mb-0">خارجی</label>
          </a>
        </div>
        <div class="col-3 col-sm-3 col-md-auto p-0">
          <a routerLink="/hotels" style="text-decoration: none"
             [class.factive]="ticketingService.selectedTicketingMenuName === 'hotels'"
             class="ftabs d-flex flex-column justify-content-center flex-sm-row-reverse align-items-center pl-md-3 pr-md-3 pl-lg-4 pr-lg-4">
            <i class="fa fa-hotel mb-1 ml-2"></i>
            <label class="ml-1 mb-0">رزرو</label>
            <label class="mb-0">هتل</label>
          </a>
        </div>
        <div class="col-3 col-sm-3 col-md-auto p-0">
          <a routerLink="/trains" style="text-decoration: none"
             [class.factive]="ticketingService.selectedTicketingMenuName === 'trains'"
             class="ftabs d-flex flex-column justify-content-center flex-sm-row-reverse align-items-center pl-md-3 pr-md-3 pl-lg-4 pr-lg-4">
            <i class="fa fa-train mb-1 ml-2"></i>
            <label class="ml-1 mb-0">بلیط</label>
            <label class="mb-0">قطار</label>
          </a>
        </div>
      </div>
      <div class="col-12 white_panel pt-3 pt-lg-5 pb-3 pb-lg-5" style="">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
