<div class="homepage_footer row pt-3 pb-4 pt-md-4" style="background-color: #3d3d51;">
  <div class="order-3 order-md-1 col-12 col-sm-12 col-md-4 col-lg-4 ">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center text-center">
        <img src="assets/img/faraparlogo.png" alt="لوگو فراپرا" style="vertical-align: middle!important;height: 55px;"
          class="v-middle mb-2">
        <label style="font-size: 0.9em;direction: rtl;width: 70%"
          class="iransan_light text-white text-center text-md-right">شیراز،
          بلوار اندرزگو، نبش کوچه‌ی بلوچ شمالی، پلاک ۴
          تلفن پشتیبانی: ۰۲۱ - ۴۳۹۰۰۰۰۰ | ۰۲۱ - ۴۹۲۷۵۰۰۰</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-row flex-wrap justify-content-center align-items-center">
        <img style="width: 50px;height: 50px;" class="img-thumbnail m-1" src="assets/img/certico/f1720ad.png" />
        <img style="width: 50px;height: 50px;" class="img-thumbnail m-1" src="assets/img/certico/logo.png" />
        <img style="width: 50px;height: 50px;" class="img-thumbnail m-1 flex-wrap"
          src="assets/img/certico/logo (1).png" />
      </div>
      <div class="col-12 d-flex flex-row flex-wrap justify-content-center align-items-center">
        <img style="width: 50px;height: 50px;" class="img-thumbnail m-1" src="assets/img/certico/9eea7f0.svg" />
        <img style="width: 50px;height: 50px;" class="img-thumbnail m-1" src="assets/img/certico/0d558e5.png" />
        <img style="width: 50px;height: 50px;" class="img-thumbnail m-1" src="assets/img/certico/317506d.svg" />
      </div>
    </div>
  </div>
  <div class="order-2 mb-3 order-md-2 col-12 col-sm-5 col-md-3 col-lg-3 d-flex flex-column text-center text-sm-right"
    style="color: white;">
    <label class="iransan_bold border-bottom pb-2" style="font-size: 20px; color: white">سایت فراپر</label>
    <label class="iransan_light pr-2" style="font-size: 1.0rem; color: white">درباره ما <i style="font-size: 0.8rem"
        class="fa fa-link"></i></label>
    <label class="iransan_light pr-2" style="font-size: 1.0rem; color: white">درباره ما <i style="font-size: 0.8rem"
        class="fa fa-link"></i></label>
    <label class="iransan_light pr-2" style="font-size: 1.0rem; color: white">درباره ما <i style="font-size: 0.8rem"
        class="fa fa-link"></i></label>
    <label class="iransan_light pr-2" style="font-size: 1.0rem; color: white">درباره ما <i style="font-size: 0.8rem"
        class="fa fa-link"></i></label>
    <label class="iransan_light pr-2" style="font-size: 1.0rem; color: white">درباره ما <i style="font-size: 0.8rem"
        class="fa fa-link"></i></label>
  </div>
  <div
    class="order-1 mb-3 order-md-3 col-12 col-sm-5 offset-sm-1 col-md-3 col-lg-3 d-flex flex-column text-center text-sm-right"
    style="color: white;">
    <label class="iransan_bold border-bottom pb-2" style="font-size: 20px; color: white">سایت فراپر</label>
    <label class="iransan_light pr-2" style="font-size: 1.0rem; color: white">درباره ما
      <i style="font-size: 0.8rem" class="fa fa-link"></i></label>
    <label class="iransan_light pr-2" style="font-size: 1.0rem; color: white">درباره ما <i style="font-size: 0.8rem"
        class="fa fa-link"></i></label>
    <label class="iransan_light pr-2" style="font-size: 1.0rem; color: white">درباره ما <i style="font-size: 0.8rem"
        class="fa fa-link"></i></label>
    <label class="iransan_light pr-2" style="font-size: 1.0rem; color: white">درباره ما <i style="font-size: 0.8rem"
        class="fa fa-link"></i></label>
    <label class="iransan_light pr-2" style="font-size: 1.0rem; color: white">درباره ما <i style="font-size: 0.8rem"
        class="fa fa-link"></i></label>
  </div>
</div>

<div class="darkfooter row pt-4  pb-3 d-flex flex-row-reverse" style="background-color: #141620">
  <div class="col-12 col-md-8 text-center text-md-right mb-2 mb-md-1 pr-lg-5">
    <label class="iransan_light" style="font-size: 13px; color: white;direction: rtl"> کلیه حقوق این سایت
      محفوظ و متعلق به آژانس
      هواپیمایی فرانک پرواز می‌باشد</label>
  </div>
  <div class="col-12 col-md-4 text-center text-sm-center text-md-left mb-1 mb-md-1 pl-lg-5"
    style="vertical-align: middle;">
    <button type="button" class="btn btn-sm btn-outline-light mr-1">
      <i class="fa fa-trademark" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-sm btn-outline-light mr-1">
      <i class="fa fa-trademark" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-sm btn-outline-light">
      <i class="fa fa-trademark" aria-hidden="true"></i>
    </button>
  </div>
</div>