.homepage_footer{
    background-image: url('../../assets/img/black_denim.png');
    background-repeat: repeat;  
    opacity: 0.9;
}
.darkfooter {
  background-image: url('../../assets/img/black_denim.png');
  background-repeat: repeat;
}
