<div id="fnav" class="row ftopbar bg-white">
  <div class="col-6 col-sm-9 col-lg-5 pl-lg-2 pl-xl-5 d-flex flex-row align-items-center">
    <a href="tel:07132342366"
       class="btn btn-light mr-1 d-none d-sm-flex align-items-center ml-lg-2 ml-xl-5"
       style="font-family: 'IRANSans(FaNum) Medium',sans-serif;font-style: normal;font-size: 0.8em;font-weight: 500;">
      <label class="m-0" style="position: relative;top: 2px;cursor: pointer">0713-234-2367</label>
      <i class="fa fa-phone-square ml-2" style="font-size: 1.3em;position: relative;top: 1px;color: #f26c6a;"></i>
    </a>
    <a routerLink="profile/account" class="btn btn-light mr-1"
       style="font-family: IRANSans,sans-serif;font-style: normal;font-size: 0.8em;font-weight: 500;outline: none !important;">
      <label class="d-none d-sm-inline-flex m-0" style="cursor:pointer;">ورود - ثبت نام</label>
      <i class="fa fa-user-circle m-0 ml-sm-2" style="font-size: 1.3em;position: relative;top: 2px;color: #f26c6a;"></i>
    </a>
    <a routerLink="profile/orders" class="btn btn-light"
       style="font-family: IRANSans,sans-serif;font-style: normal;font-size: 0.8em;font-weight: 500;">
      <label class="d-none d-sm-inline-flex m-0" style="cursor:pointer;">پیگیری خرید</label>
      <i class="fa fa-ticket-alt m-0 ml-sm-2" style="font-size: 1.3em;position: relative;top: 2px;color: #f26c6a;"></i>
    </a>
  </div>
  <div class="col-6 col-sm-3 col-lg-7 d-flex flex-row-reverse pr-lg-2 pr-xl-5">
    <img src="assets/img/logo.png" alt="لوگو فراپرا"
         style="vertical-align: middle!important;height: 42px;"
         class="v-middle ml-md-1 ml-lg-5 mr-0 mr-sm-2"/>
    <ul class="farapar_menu d-none  d-lg-flex">
      <li><a routerLink="/inflights" class="d-flex flex-lg-column  flex-xl-row-reverse align-items-center"><i
        class="fa fa-paper-plane ml-2"></i>پرواز داخلی</a></li>
      <li><a routerLink="/outflights" class="d-flex flex-lg-column  flex-xl-row-reverse align-items-center"><i
        class="fa fa-globe-americas ml-2"></i>پرواز خارجی</a></li>
      <li><a routerLink="/hotels" class="d-flex flex-lg-column  flex-xl-row-reverse align-items-center"><i
        class="fa fa-hotel ml-2"></i>رزرو هتل</a></li>
      <li><a routerLink="/trains" class="d-flex flex-lg-column  flex-xl-row-reverse align-items-center border-0"><i
        class="fa fa-train ml-2"></i>بلیط قطار</a></li>
    </ul>
  </div>
</div>
