<div class="row d-flex flex-row-reverse" style="margin: auto">
  <div class="col-12 d-flex flex-row-reverse mb-1 mb-lg-3">
    <label class="rb_container ml-3">یک طرفه
      <input type="radio" checked="checked" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="rb_container">رفت و برگشت
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>


  </div>
  <div class="col-12 col-lg-4 pr-0 pl-0 pl-lg-2 mb-1">
    <div class="row d-flex flex-row-reverse mb-2 shadow-sm" style="margin: auto">
      <div class="col-12 col-md-6 m-0 p-0">
        <div class="fin d-flex flex-row-reverse align-items-center pr-3 pl-1">
          <i class="fa fa-plane-departure fa-flip-horizontal"></i>
          <input type="text" class="finput w-100" placeholder="مبدا" />
        </div>
      </div>
      <div class="col-12  col-md-6 m-0 p-0">
        <div class="fout d-flex flex-row-reverse align-items-center pr-3 pl-1">
          <i class="fa fa-plane-arrival fa-flip-horizontal"></i>
          <input type="text" class="finput w-100" placeholder="مقصد" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 pr-0 pl-0 pl-lg-2 mb-1">
    <div class="row d-flex flex-row-reverse mb-2 shadow-sm" style="margin: auto">
      <div class="col-6 m-0 p-0">
        <div class="findate d-flex flex-row-reverse align-items-center pr-3 pl-1" style="">          
          <i class="fa fa-calendar-alt"></i>
          <input type="text" class="finputdate w-100" placeholder="تاریخ رفت" />
        </div>
      </div>
      <div id="inflight" class="col-6  m-0 p-0">
        <div class="foutdate d-flex flex-row-reverse align-items-center pr-3 pl-1" style="">          
          <i class="fa fa-calendar-alt"></i>
          <input type="text" class="finputdate w-100" placeholder="تاریخ برگشت" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-2 pr-0 pl-0 pl-lg-2 mb-1">
    <div class="row d-flex flex-row shadow-sm mb-2" style="margin: auto">
      <div class="col-12 m-0 p-0">
        <div class="fipass d-flex flex-row-reverse align-items-center rounded pr-3 pl-1" style="">
          <i class="fa fa-user ml-1"></i>
          <input type="text" class="finputdate w-100" style="font-family: 'IRANSans(FaNum) Light',sans-serif"
            placeholder="1 مسافر" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-2 pr-0 pl-0">
    <button type="button" (click)="goflight()" class="btn_search btn-block btn btn-lg btn-success iransan_light">جستجو</button>    
  </div>
</div>