<div class="row maintask pt-1 pb-5" 
style="background-image: url('../../../assets/img/bgpattern.png');background-repeat: repeat;"><!--#D1E7F8; rgba(66,181,116,0.2) -->
  <div class="col-12 text-center d-flex flex-column pt-4 align-items-center mb-0 mb-md-1">
    <label class="visa_title mb-md-2">مشاوره و اخذ ویزای توریستی</label>
    <div class="mb-4 bg-success" style="width: 200px;height: 2px;"></div>
  </div>
  <div class="col-12 offset-md-1 col-md-5 offset-lg-1 col-lg-4 text-center mb-3">
    <img class="passportimage img-fluid border shadow d-none d-md-inline" style="width: 260px;height: auto;"
         src="assets/img/passport.png"/>
  </div>
  <div class="col-12 col-md-5 col-lg-5 text-right pt-md-5 text-center">
    <label style="font-size: 25px;color: #262627;" class="text-right visa_right_title mb-4 mb-md-3">احتمالاً خیلی از
      ما همین چند سال پیش
      که
      هنوز امکان رزرو آنلاین هتل فراهم نبود</label>
    <label style="font-size: 18px;color: #484848;" class="text-right visa_right_content mb-4 mb-md-5">احتمالاً خیلی از
      ما همین چند سال پیش را
      به خاطر داریم که هنوز امکان
      رزرو آنلاین هتل فراهم نبود؛ در آن زمان مجبور بودیم بعد از رسیدن به
      مقصد هتل‌مان را رزرو کنیم</label>
    <button type="button" class="btn btn-success iransan_medium btn-lg pr-5 pl-5">ثبت درخواست</button>
  </div>
</div>
