<div class="slickme row fmembers p-2 pt-md-3 pb-md-2" style="background-color:white;">
  <div class="col-12 col-md-10 offset-md-1">
    <div class="row d-flex flex-row-reverse">
      <div class="col-12 col-sm-6 justify-content-center justify-content-sm-end mt-2 d-flex">
        <label style="color: #484848 !important;" class="membertitle d-flex flex-row-reverse align-items-center"><i
          class="fas fa-users ml-2"></i>تیم
          تخصصی
          فراپر</label>
      </div>
      <div class="col-sm-6 d-none d-sm-flex flex-row align-items-center justify-content-start">
        <button id="small_mem_leftindicator" style="width: 40px;height: 40px;padding: 3px;"
                class="tour_md_btn_nextprev">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <path fill="#484848"
                  d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"></path>
          </svg>
        </button>
        <button id="small_mem_rightindicator" style="width: 40px;height: 40px;padding: 3px;"
                class="tour_md_btn_nextprev">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <path fill="#484848"
                  d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-10 offset-md-1 pt-2 pb-sm-3 pb-md-1 pt-md-2">
    <div id="mem_draggable" class="row scrolling-wrapper flex-row-reverse pb-sm-3">
      <div class="witem col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="d-flex flex-column align-items-center rounded shadow-sm border p-3 mb-1"
             style="background-color: #f7f7f7;">
          <img draggable="false"
               style="width: 110px;height:110px;background-color:white !important;padding: 0.33rem !important;"
               class="rounded-circle img-thumbnail mb-1" src="assets/img/members/vahdat.png"/>
          <label class="iransan_medium text-center mb-0" style="font-size: 1.2em;color: #544b4b">سامان وحدت</label>
          <label class="iransan_light text-center mb-0">برنامه نویس</label>
          <label class="text-center mb-0" style="font-size: 0.9rem">@vahdat_saman</label>
        </div>
      </div>
      <div class="witem col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="d-flex flex-column align-items-center rounded shadow-sm border p-3 mb-1"
             style="background-color: #f7f7f7;">
          <img draggable="false"
               style="width: 110px;height:110px;background-color:white !important;padding: 0.33rem !important;"
               class="rounded-circle img-thumbnail mb-1" src="assets/img/members/vahdat.png"/>
          <label class="iransan_medium text-center mb-0" style="font-size: 1.2em;color: #544b4b">سامان وحدت</label>
          <label class="iransan_light text-center mb-0">برنامه نویس</label>
          <label class="text-center mb-0" style="font-size: 0.9rem">@vahdat_saman</label>
        </div>
      </div>
      <div class="witem col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="d-flex flex-column align-items-center rounded shadow-sm border p-3 mb-1"
             style="background-color: #f7f7f7;">
          <img draggable="false"
               style="width: 110px;height:110px;background-color:white !important;padding: 0.33rem !important;"
               class="rounded-circle img-thumbnail mb-1" src="assets/img/members/vahdat.png"/>
          <label class="iransan_medium text-center mb-0" style="font-size: 1.2em;color: #544b4b">سامان وحدت</label>
          <label class="iransan_light text-center mb-0">برنامه نویس</label>
          <label class="text-center mb-0" style="font-size: 0.9rem">@vahdat_saman</label>
        </div>
      </div>
      <div class="witem col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="d-flex flex-column align-items-center rounded shadow-sm border p-3 mb-1"
             style="background-color: #f7f7f7;">
          <img draggable="false"
               style="width: 110px;height:110px;background-color:white !important;padding: 0.33rem !important;"
               class="rounded-circle img-thumbnail mb-1" src="assets/img/members/vahdat.png"/>
          <label class="iransan_medium text-center mb-0" style="font-size: 1.2em;color: #544b4b">سامان وحدت</label>
          <label class="iransan_light text-center mb-0">برنامه نویس</label>
          <label class="text-center mb-0" style="font-size: 0.9rem">@vahdat_saman</label>
        </div>
      </div>
      <div class="witem col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="d-flex flex-column align-items-center rounded shadow-sm border p-3 mb-1"
             style="background-color: #f7f7f7;">
          <img draggable="false"
               style="width: 110px;height:110px;background-color:white !important;padding: 0.33rem !important;"
               class="rounded-circle img-thumbnail mb-1" src="assets/img/members/vahdat.png"/>
          <label class="iransan_medium text-center mb-0" style="font-size: 1.2em;color: #544b4b">سامان وحدت</label>
          <label class="iransan_light text-center mb-0">برنامه نویس</label>
          <label class="text-center mb-0" style="font-size: 0.9rem">@vahdat_saman</label>
        </div>
      </div>
      <div class="witem col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="d-flex flex-column align-items-center rounded shadow-sm border p-3 mb-1"
             style="background-color: #f7f7f7;">
          <img draggable="false"
               style="width: 110px;height:110px;background-color:white !important;padding: 0.33rem !important;"
               class="rounded-circle img-thumbnail mb-1" src="assets/img/members/vahdat.png"/>
          <label class="iransan_medium text-center mb-0" style="font-size: 1.2em;color: #544b4b">سامان وحدت</label>
          <label class="iransan_light text-center mb-0">برنامه نویس</label>
          <label class="text-center mb-0" style="font-size: 0.9rem">@vahdat_saman</label>
        </div>
      </div>
      <div class="witem col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="d-flex flex-column align-items-center rounded shadow-sm border p-3 mb-1"
             style="background-color: #f7f7f7;">
          <img draggable="false"
               style="width: 110px;height:110px;background-color:white !important;padding: 0.33rem !important;"
               class="rounded-circle img-thumbnail mb-1" src="assets/img/members/vahdat.png"/>
          <label class="iransan_medium text-center mb-0" style="font-size: 1.2em;color: #544b4b">سامان وحدت</label>
          <label class="iransan_light text-center mb-0">برنامه نویس</label>
          <label class="text-center mb-0" style="font-size: 0.9rem">@vahdat_saman</label>
        </div>
      </div>
      <div class="witem col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="d-flex flex-column align-items-center rounded shadow-sm border p-3 mb-1"
             style="background-color: #f7f7f7;">
          <img draggable="false"
               style="width: 110px;height:110px;background-color:white !important;padding: 0.33rem !important;"
               class="rounded-circle img-thumbnail mb-1" src="assets/img/members/vahdat.png"/>
          <label class="iransan_medium text-center mb-0" style="font-size: 1.2em;color: #544b4b">سامان وحدت</label>
          <label class="iransan_light text-center mb-0">برنامه نویس</label>
          <label class="text-center mb-0" style="font-size: 0.9rem">@vahdat_saman</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex d-sm-none flex-row justify-content-center mb-2">
    <button id="small_mem_leftindicator" style="width: 40px;height: 40px;padding: 3px;"
            class="tour_md_btn_nextprev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#484848"
              d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"></path>
      </svg>
    </button>
    <button id="small_mem_rightindicator" style="width: 40px;height: 40px;padding: 3px;"
            class="tour_md_btn_nextprev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#484848"
              d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"></path>
      </svg>
    </button>
  </div>
</div>
