<div class="modalwraper">
    <!-- <div class="row mb-5 modallogo"> -->
    <div class="row mb-3 modallogo">
        <div class="col d-flex flex-row justify-content-center">
            <img class="img-fluid" style="width: 100px;" src="assets/img/lego.png" alt="لوگو فراپرا" />
        </div>
    </div>
    <div class="row mb-1">
        <div [innerHTML]="mainTitle" class="col-12 text-center d-flex justify-content-center title mb-2"></div>
        <div [innerHTML]="subTitle" class="col-12 text-center d-flex justify-content-center subtitle" style="direction: rtl;"></div>
    </div>
    <hr style="
        width: 65%;
        max-width: 200px;
        margin: 0px auto;
        color: rgb(245, 245, 245);
        margin-bottom: 15px;" />

    <div class="row mb-3 d-flex justify-content-center" *ngIf="(secondStep || thirdStep) && loginByPhone">
        <div class="col-11 col-sm-8 d-flex justify-content-center flex-row align-items-center">
            <i class="fa fa-mobile-alt" style="font-size: 1rem;margin-right: 4px;"></i>
            <label class="mobilestyle">{{ mobile }}</label>
        </div>
    </div>

    <div class="row mb-3 d-flex justify-content-center" *ngIf="(secondStep && loginByEmail) || (thirdStep && loginByEmail)">
        <div class="col-11 col-sm-8 d-flex justify-content-center flex-row align-items-center">
            <i class="fa fa-envelope" style="font-size: 1rem;margin-right: 4px;"></i>
            <label class="mobilestyle text-bold">{{ email }}</label>
        </div>
    </div>

    <div class="row mb-3" *ngIf="(secondStep && loginByPhone) || (thirdStep && loginByEmail)">
        <!-- must be come a component later -->
        <div class="col d-flex flex-row confirmed_code_panel justify-content-center">
            <input type="text" value="3" maxlength="1" />
            <input type="text" value="7" maxlength="1" />
            <input type="text" value="9" maxlength="1" />
            <input type="text" maxlength="1" style="border-bottom-color: #e1e1e1;" />
            <input type="text" maxlength="1" style="border-bottom-color: #e1e1e1;" />
        </div>
    </div>

    <div class="row mb-4 d-flex justify-content-center" *ngIf="(secondStep && loginByPhone) || (thirdStep && loginByEmail)">
        <div class="col-11 col-sm-8 d-flex justify-content-center flex-row align-items-center">
            <button type="button" style="color: #4A90E2 !important;" class="btn btn-link btn_link d-flex flex-row-reverse align-items-center pr-0">
                <i class="fa fa-redo ml-2" style="font-size: 1rem;"></i>
                ارسال مجدد
            </button>
        </div>
    </div>

    <div class="row mb-3 d-flex justify-content-center" *ngIf="firstStep && loginByPhone">
        <div class="col-11 col-sm-8">
            <app-featured-input [controlType]="'mobile'"></app-featured-input>
        </div>
    </div>

    <div class="row mb-3 d-flex justify-content-center" *ngIf="firstStep && loginByEmail">
        <div class="col-11 col-sm-8">
            <app-featured-input [controlType]="'email'"></app-featured-input>
        </div>
    </div>

    <div class="row mb-3 d-flex justify-content-center" style="margin-bottom: 3px;" *ngIf="(secondStep && loginByEmail) || (thirdStep && loginByPhone)">
        <div class="col-11 col-sm-8">
            <app-featured-input [controlType]="'password'"></app-featured-input>
        </div>
    </div>
    <div class="row mb-1 d-flex justify-content-center" *ngIf="(secondStep && loginByEmail)">
        <div class="col-11 col-sm-8 d-flex justify-content-center flex-row align-items-center">
            <button type="button" (click)="ForgotPassword()" class="btn btn-link btn_link d-flex flex-row-reverse align-items-center text-warning">
                <i class="fa fa-key ml-2" style="font-size: 1rem;"></i>
                رمز عبورتان را فراموش کرده اید؟
            </button>
        </div>
    </div>

    <div class="row mb-3 d-flex justify-content-center" *ngIf="fourthStep">
        <div class="col-11 col-sm-8 d-flex justify-content-center">
            <i class="fa fa-envelope fa-5x text-warning"></i>
        </div>
    </div>

    <div class="row mb-4 d-flex justify-content-center" *ngIf="fourthStep">
        <div class="col-11 col-sm-8 d-flex justify-content-center">
            <label class="forgot_password">
                لینکی به آدرس {{ email }} ارسال شده است، لطفا روی آن کلیک کنید و رمز عبور جدید برای حساب خود انتخاب کنید.
            </label>
        </div>
    </div>

    <div class="row d-flex flex-row-reverse justify-content-center mb-2" *ngIf="!fourthStep">
        <div class="col-11 col-sm-8">
            <button (click)="NextStep()" class="btn btn-primary btn-block loginbtn">
                <!-- btn-primary btn-secondary -->
                ادامه
            </button>
        </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="secondStep && loginByPhone">
        <div class="col-11 col-sm-8 d-flex justify-content-center">
            <button (click)="LoginByMobileAndPass()" type="button" style="color: #4A90E2 !important;"
                class="btn btn-link btn_link_mobile_pass d-flex flex-row-reverse align-items-center pr-0">
                ورود با شماره موبایل و رمز عبور
            </button>
        </div>
    </div>

    <div class="row d-flex justify-content-center" *ngIf="thirdStep && loginByEmail">
        <div class="col-11 col-sm-8 d-flex justify-content-center">
            <button (click)="LoginByEmailAndPass()" type="button" style="color: #4A90E2 !important;"
                class="btn btn-link btn_link_mobile_pass d-flex flex-row-reverse align-items-center pr-0">
                ورود با ایمیل و رمز عبور
            </button>
        </div>
    </div>

    <div class="row d-flex justify-content-center" *ngIf="secondStep && loginByEmail">
        <div class="col-11 col-sm-8 d-flex justify-content-center">
            <button (click)="LoginByEmailAndOncePass()" type="button" style="color: #4A90E2 !important;"
                class="btn btn-link btn_link_mobile_pass d-flex flex-row-reverse align-items-center pr-0">
                ورود با ایمیل و رمز یکبار مصرف
            </button>
        </div>
    </div>

    <div class="row d-flex justify-content-center" *ngIf="firstStep && loginByPhone">
        <div class="col-11 col-sm-8 d-flex justify-content-end">
            <button (click)="SwitchLoginByMobileOrEmail()" type="button" style="color: #4A90E2 !important;" class="btn btn-link btn_link d-flex flex-row-reverse align-items-center pr-0">
                <div *ngIf="loginByPhone" style="display: inline;padding: 0;margin: 0;" class="ml-1 d-flex">
                    <i class="fa fa-envelope" style="font-size: 1rem;"></i>
                </div>
                <div *ngIf="loginByEmail" style="display: inline;padding: 0;margin: 0;" class="ml-1 d-flex">
                    <i class="fa fa-phone" style="font-size: 1rem;"></i>
                </div>
                ورود با {{ switchLinkName }}
            </button>
        </div>
    </div>
</div>