<app-ticketing></app-ticketing>

<div class="row quotepad pt-3 d-none d-sm-flex">
  <div
    class="col-12 mb-2 col-sm-4 col-md-3 offset-md-1 d-flex flex-column justify-content-center align-items-center text-center">
    <img class="mb-2 img-fluid" style="width: 90px;height: 90px;" src="assets/img/support.png"/>
    <label class="iransan_bold">قیمت رقابتی همراه با تضمین بلیط‌های چارتر</label>
    <label class="iransan_light">معتبرترین و به‌صرفه‌ترین سامانه<br/>
      فروش بلیط و چارتر با پشتیبانی ۲۴ ساعته</label>
  </div>
  <div class="col-12 mb-2 col-sm-4 col-md-4 d-flex flex-column justify-content-center align-items-center text-center">
    <img class="mb-2" style="width: 90px;height: 90px;" src="assets/img/ticket.png"/>
    <label class="iransan_bold">پوشش ۱۰۰ درصدی پروازها و قطارها</label>
    <label class="iransan_light">کامل‌ترین سایت خرید بلیط<br/>
      پروازهای داخلی، پروازهای خارجی، بلیط قطار</label>
  </div>
  <div class="col-12 mb-2 col-sm-4 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
    <img class="mb-2" style="width: 90px;height: 90px;" src="assets/img/website.png"/>
    <label class="iransan_bold">دسترسی آسان از طریق وبسایت</label>
    <label class="iransan_light">ساده‌ترین و سریع‌ترین راه<br/>
      برای جستجو، خرید و استرداد بلیط</label>
  </div>
</div>

<app-tourspad></app-tourspad>
<app-sec-job></app-sec-job>
<app-members-pad></app-members-pad>
