<app-ticketing></app-ticketing>

<div class="row quotepad pt-4 pb-2 d-none d-sm-flex justify-content-center">
  <div class="col-11">
    <div class="row">
      <div
        class="col-12 mb-2 col-sm-3 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
        <img class="mb-2 img-fluid" style="width: 68px;" src="assets/img/nodes.png" />
        <label class="iransan_bold mb-0">جمع سپاری هزینه بلیط</label>
        <label class="iransan_light">حمایت و همیاری خرید بلیط هواپیما</label>
      </div>
      <div
        class="col-12 mb-2 col-sm-3 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
        <img class="mb-2" style="width: 70px;" src="assets/img/sunset.png" />
        <label class="iransan_bold mb-0">برنامه ریزی سیر و سفر</label>
        <label class="iransan_light">مشاوره و اخذ ویزای مسافرت و توریستی</label>
      </div>
      <div
        class="col-12 mb-2 col-sm-3 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
        <img class="mb-2" style="width: 67px;" src="assets/img/world.png" />
        <label class="iransan_bold mb-0">دسترسی از طریق وب سایت</label>
        <label class="iransan_light">سامانه جستجو ، خرید ، استرداد بلیط</label>
      </div>
      <div
        class="col-12 mb-2 col-sm-3 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
        <img class="mb-0" style="width: 80px;" src="assets/img/ticket2.png" />
        <label class="iransan_bold mb-0">خرید بلیط هواپیما</label>
        <label class="iransan_light">پروازهای داخلی ، پروازهای خارجی</label>
      </div>
    </div>
  </div>
</div>

<app-tourspad></app-tourspad>
<app-sec-job></app-sec-job>

<!--its not formal to list members in site, maybe i dont know - first page mustbe very small in size to load quickly
<app-members-pad></app-members-pad>-->