.profile_menu {

}

.profile_menu > a {
  border-left: 1px solid #e1e1e1;
  color: #aaaaad;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: IRANSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
}

.profile_menu > a:last-child {
  border-left: none;
}

.profile_menu > a > i {
  font-size: 1.5em;
}

.profile_menu > a:hover {
  color: #f05451;
  opacity: 0.9;
  cursor: pointer;
}

.profile_menu > a.selected {
  color: #f05451 !important;
  opacity: 0.9;
  cursor: pointer !important;
}
