.phone_input_container {
  position: relative;  
}

.phone_input_container::after {
  content: "+۹۸";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 6px;
  padding-top: 4px;
  border-right: 1px dashed #c2c2c2;
  color: #c2c2c2;
  display: block;
  direction: ltr;
  text-align: center;
  font-family: "IRANSans", serif;
  font-weight: 300;
  font-style: normal;
}

.phone_input {
  font-family: "IRANSans", serif;
  font-weight: 300;
  font-style: normal;
  color: #646464;  
  direction: ltr;
  text-align: left;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 7px;
}

/* 
input:focus {
  border: 1px solid #838383;
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
*/

label {
  margin-bottom: 0.1rem !important;
  font-family: IRANSans, sans-serif;
  color: #646464;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  font-style: normal;
}
