/* You can add global styles to this file, and also import other style files */

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  /* background-color: rgb(255, 255, 255); */
  /* color: rgb(100, 100, 100); */
  /* direction: rtl; */
  /* font-family: IranSans, sans-serif; */
  /* font-weight: 300; */
  position: relative;
  /* font-size: 1rem; */
  /* line-height: 1.8; */
  /* cursor: default; */
  transition: padding 0.25s ease 0s;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.o {
  outline: 1px solid red !important;
}

.b {
  border: 1px solid red !important;
  box-sizing: border-box !important;
}

.iransans_rem09 {
  font-family: IRANSans, sans-serif;
  font-style: normal;
  font-size: 0.9rem;
}

.iransan_bold {
  font-family: IRANSans, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.iransans_raw {
  font-family: IRANSans, sans-serif;
  font-style: normal;
}

.iransan_medium {
  font-family: IRANSans, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.iransan_light {
  font-family: IRANSans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.iransans_h1 {
  font-family: IRANSans, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.iransans_h2 {
  font-family: IRANSans, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  font-style: normal;
}
