/* You can add global styles to this file, and also import other style files */

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.o {
  outline: 1px solid blue;
}

.iransans_rem09 {
  font-family: IRANSans, sans-serif;
  font-style: normal;
  font-size: 0.9rem;
}

.iransan_bold {
  font-family: IRANSans, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.iransan_medium {
  font-family: IRANSans, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.iransan_light {
  font-family: IRANSans, sans-serif;
  font-weight: 300;
  font-style: normal;
}
