.tourspad {
  background-color: #001d38;
}

.tourtitle {
  font-family: IRANSans;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  color: white;
}

.membertitle {
  font-family: IRANSans;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  color: #007b5e;
}

.slick_wrapper {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: hidden;
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ /* Hide scrollbar for IE and Edge */
  /* -ms-overflow-style: none; */
}

/*Hide Scrollbars But Keep Functionality*/
.slick_wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.slick_wrapper .witem {
  /* flex: 0 0 auto; */
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  margin-left: 20px;
}

.slick_wrapper .witem:last-child {
  /* margin-left: 0px !important; */
  /* content: "<div class='witem'></div>"; */
}

.witem .card {
  width: 300px !important;
}

.tour_md_btn_nextprev {
  display: block;
  width: 50px;
  height: 50px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none !important;
}

.tour_md_btn_nextprev:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tour_btn_nextprev {
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.tour_btn_nextprev:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 425px) {
  .witem .card {
    width: 240px !important;
  }
}
