<div class="slickme row tourspad pt-1 pt-md-4 pb-0 pb-md-4">
  <div class="col-12 col-md-10 offset-md-1">
    <div class="row d-flex flex-row-reverse">
      <div class="col-12 col-sm-6 justify-content-center justify-content-sm-end mt-2 d-flex">
        <label class="tourtitle d-flex flex-row-reverse align-items-center"><i class="fas fa-umbrella-beach ml-2"></i>تورهای
          نوروزی</label>
      </div>
      <div class="col-sm-6 d-none d-sm-flex flex-row align-items-center justify-content-start">
        <button id="small_tour_leftindicator" style="width: 40px;height: 40px;padding: 3px;"
                class="tour_md_btn_nextprev">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <path fill="#ffffff"
                  d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"></path>
          </svg>
        </button>
        <button id="small_tour_rightindicator" style="width: 40px;height: 40px;padding: 3px;"
                class="tour_md_btn_nextprev">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <path fill="#ffffff"
                  d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-10 offset-md-1 pt-2 pb-sm-3 pb-md-1 pt-md-4 mb-2">
    <div id="tour_draggable" class="row scrolling-wrapper flex-row-reverse">
      <div class="witem col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card" style="border: none !important;">
          <img src="assets/img/taj_sunset.png" draggable="false" class="card-img-top" alt="...">
          <div class="card-body text-right">
            <h5 class="card-title iransan_bold">به پاریس سفر کنید</h5>
            <p class="card-text iransan_light" style="font-size: small">شما می توانید تقریبا هر چیزی را که به آن
              احتیاج
              دارید در فروشگاه های
              بزرگ و تاریخی
              بیابید</p>
          </div>
        </div>
      </div>
      <div class="witem col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card" style="border: none !important;">
          <img src="assets/img/paris.png" draggable="false" class="card-img-top" alt="...">
          <div class="card-body text-right">
            <h5 class="card-title iransan_bold">به پاریس سفر کنید</h5>
            <p class="card-text iransan_light" style="font-size: small">شما می توانید تقریبا هر چیزی را که به آن
              احتیاج
              دارید در فروشگاه های
              بزرگ و تاریخی
              بیابید</p>
          </div>
        </div>
      </div>
      <div class="witem col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card" style="border: none !important;">
          <img src="assets/img/italy.png" draggable="false" class="card-img-top" alt="...">
          <div class="card-body text-right">
            <h5 class="card-title iransan_bold">به پاریس سفر کنید</h5>
            <p class="card-text iransan_light" style="font-size: small">شما می توانید تقریبا هر چیزی را که به آن
              احتیاج
              دارید در فروشگاه های
              بزرگ و تاریخی
              بیابید</p>
          </div>
        </div>
      </div>
      <div class="witem col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card" style="border: none !important;">
          <img src="assets/img/paris.png" draggable="false" class="card-img-top" alt="...">
          <div class="card-body text-right">
            <h5 class="card-title iransan_bold">به پاریس سفر کنید</h5>
            <p class="card-text iransan_light" style="font-size: small">شما می توانید تقریبا هر چیزی را که به آن
              احتیاج
              دارید در فروشگاه های
              بزرگ و تاریخی
              بیابید</p>
          </div>
        </div>
      </div>
      <div class="witem col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card" style="border: none !important;">
          <img src="assets/img/taj_sunset.png" draggable="false" class="card-img-top" alt="...">
          <div class="card-body text-right">
            <h5 class="card-title iransan_bold">به پاریس سفر کنید</h5>
            <p class="card-text iransan_light" style="font-size: small">شما می توانید تقریبا هر چیزی را که به آن
              احتیاج
              دارید در فروشگاه های
              بزرگ و تاریخی
              بیابید</p>
          </div>
        </div>
      </div>
      <div class="witem col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card" style="border: none !important;">
          <img src="assets/img/italy.png" draggable="false" class="card-img-top" alt="...">
          <div class="card-body text-right">
            <h5 class="card-title iransan_bold">به پاریس سفر کنید</h5>
            <p class="card-text iransan_light" style="font-size: small">شما می توانید تقریبا هر چیزی را که به آن
              احتیاج
              دارید در فروشگاه های
              بزرگ و تاریخی
              بیابید</p>
          </div>
        </div>
      </div>
      <div class="witem col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card" style="border: none !important;">
          <img src="assets/img/taj_sunset.png" draggable="false" class="card-img-top" alt="...">
          <div class="card-body text-right">
            <h5 class="card-title iransan_bold">به پاریس سفر کنید</h5>
            <p class="card-text iransan_light" style="font-size: small">شما می توانید تقریبا هر چیزی را که به آن
              احتیاج
              دارید در فروشگاه های
              بزرگ و تاریخی
              بیابید</p>
          </div>
        </div>
      </div>
      <div class="witem col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card" style="border: none !important;">
          <img src="assets/img/taj_sunset.png" draggable="false" class="card-img-top" alt="...">
          <div class="card-body text-right">
            <h5 class="card-title iransan_bold">به پاریس سفر کنید</h5>
            <p class="card-text iransan_light" style="font-size: small">شما می توانید تقریبا هر چیزی را که به آن
              احتیاج
              دارید در فروشگاه های
              بزرگ و تاریخی
              بیابید</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex d-sm-none flex-row justify-content-center mb-2">
    <button id="small_tour_leftindicator" style="width: 38px;height: 38px;padding: 3px;"
            class="tour_md_btn_nextprev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#ffffff"
              d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"></path>
      </svg>
    </button>
    <button id="small_tour_rightindicator" style="width: 38px;height: 38px;padding: 3px;"
            class="tour_md_btn_nextprev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#ffffff"
              d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"></path>
      </svg>
    </button>
  </div>
</div>
