<div class="modal-overlay">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex flex-row-reverse">
          <div class="col text-right align-items-center" style="direction: rtl;">
            <i class="fa fa-info-circle ml-2" style="color:#f05451"></i>
            <label class="iransan_bold">لطفا وارد شوید</label>
          </div>
          <div class="col">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span>×</span>
            </button>
          </div>
        </div>
        <p>
          Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
          dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac
          consectetur ac, vestibulum at eros.
        </p>
      </div>
    </div>
  </div>
</div>